image: node:18

variables:
  NODE_ENV: 'development'

stages:
  - install
  - lint
  - test
  - build
  - deploy

install_dependencies:
  stage: install
  script:
    - node -v
    - npm -v
    - echo $NODE_ENV
    - cd backend && npm ci --include=dev
    - cd ../frontend && npm ci --include=dev

lint:
  stage: lint
  script:
    - cd backend && npm run lint
    - cd ../frontend && npm run lint || echo "Frontend lint não configurado, skip"

test:
  stage: test
  script:
    - cd backend && npm run test
    - cd ../frontend && npm run test || echo "Frontend test não configurado, skip"

build:
  stage: build
  script:
    - cd backend && npm run build
    - cd ../frontend && npm run build

deploy:
  stage: deploy
  script:
    - echo "Deploy manual ou automático configurável depois"
  when: manual
